@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
  /*--bg: #ffffff;
  --fg: #000000;
  --link: #1e4ab2;
  --info: #0ca2a2;
  --success: #0dd50d;
  --warning: #ffc30f;
  --danger: #ff0d0d;*/

  --font: "Ubuntu", sans-serif;

  --bg: var(--color-stone-100);
  --fg: var(--color-stone-900);
  --primary: #00ff00;
  --link: var(--color-indigo-500);
  --info: var(--color-sky-500);
  --success: var(--color-green-500);
  --warning: var(--color-amber-500);
  --danger: var(--color-red-500);

  --border-radius: 1.5rem;

  --shadow: var(--shadow-md);
}

@theme inline {
  --font-family: var(--font);

  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-primary: var(--primary);
  --color-link: var(--link);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --radius-primary: var(--border-radius);

  --shadow-primary: var(--shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--color-stone-900);
    --fg: var(--color-stone-100);
  }
}

@-moz-document url-prefix() {
	html {
		scrollbar-width: auto;
		scrollbar-color: var(--color-slate-300) transparent;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px 0 0 10px;
	margin: 10px 0 10px 0;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-slate-300);
	border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-slate-400);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
  
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background: var(--bg);
  color: var(--fg);
}
